<ion-header class="ion-no-border request-and-pay-page-header" >
  <ion-toolbar class="request-and-pay-page-toolbar">
    <ion-icon slot="start" clas="request-and-pay-scan-icon" name="scan-outline"></ion-icon>
    <ion-avatar slot="end" class="request-and-pay-page-profile-avatar">
      <img class="request-and-pay-page-profile-img" src="assets/home/profiel-dummy.png"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding request-and-pay-page-content">

</ion-content>
