.request-and-pay-page-header {
  .request-and-pay-page-toolbar {
    --background: #00c06b;
    color: white;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;
    .request-and-pay-scan-icon {
      font-size: 30px;
    }
    .request-and-pay-page-profile-avatar {
      padding-top: 10px;
      .request-and-pay-page-profile-img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
.request-and-pay-page-content {
  --background: #00c06b;
}
