ion-tab-button {
  --color-selected: #00bc67;
}
ion-tab-bar {
  border-radius: 15px 15px 0 0;
  box-shadow: 10px 0px 10px #727171;
}
ion-fab {
  padding-bottom: 24px;
  padding-left: 10px;
}
ion-fab-button {
  --background: #757577;
  --background-focused: #00bc67;
  --background-activated: #00bc67;
  --background-hover: #00bc67;
  width: 35px !important;
  height: 35px !important;
  --ionicon-stroke-width: 64px;
}
