<ion-content class="ion-padding ion-margin">
  <div class="content-center">
    <div>
      <ion-img class="app-logo" src="assets/intro/logo.png"></ion-img>
      <ion-label>SIBUN</ion-label>
    </div>
  </div>
  <form [formGroup]="loginForm">
    <div class="login-form-group">
      <div class="input-field">
        <div class="field-title">Email</div>
        <div class="right-content-input">
        <ion-input 
          formControlName="email"
          placeholder="Enter your first name" 
          type="email" 
          class="white-input">
        </ion-input>
        </div>
      </div>
      <div *ngIf="loginForm.controls['email'].invalid && 
      (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
        <div *ngIf="loginForm.controls['email'].errors.required" class="error-tag">
          Email is required.
        </div>
      </div>
      <div class="input-field">
        <div class="field-title">Password</div>
        <div class="right-content-input">
        <ion-input 
          formControlName="password"
          placeholder="Enter your first name" 
          type="password" 
          class="white-input">
        </ion-input>
     
        </div>
      </div>
      <div *ngIf="loginForm.controls['password'].invalid && 
      (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
        <div *ngIf="loginForm.controls['password'].errors.required" class="error-tag">
          Password is required.
        </div>
      </div>
    </div>
  </form>
  <div class="ion-padding">
   <ion-button 
   [disabled]="loginForm.invalid"
   (click)="login()"
   class="white-btn" 
   expand="block" 
   mode="ios">Login</ion-button>
  </div>
  <div class="ion-padding">
    <ion-text>Don't you have any account?<a routerLink="/registration"> Sign Up</a></ion-text>
  </div>
</ion-content>
