.registration-form-group {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  .input-field {
    margin-bottom: 16px;
    .field-title {
      margin-bottom: 16px;
      color: #8c90a3;
      font-size: 1rem;
      letter-spacing: 1px;
      line-height: 1.1rem;
      text-transform: uppercase;
    }
  }
}
