ion-content {
  --background: #00c06b;
}
ion-card {
  --background: #00c06b;
  color: white;
  height: 600px;
  box-shadow: none;
}
ion-card-title {
  color: white;
}
ion-footer {
  --background: #00c06b;
}
.get-start-btn {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
}
