<ion-content class="ion-padding">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <div class="content-center">
              <div>
                <ion-img class="app-logo" src="assets/intro/logo.png"></ion-img>
              </div>
            </div>
          </ion-card-title>
          <ion-card-title>ADD MONEY</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-img src="assets/intro/add-money.png"></ion-img>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
      
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <div class="content-center">
              <div>
                <ion-img class="app-logo" src="assets/intro/logo.png"></ion-img>
              </div>
            </div>
          </ion-card-title>
          <ion-card-title>SEND MONEY</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-img src="assets/intro/send-money.png"></ion-img>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    
      
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <div class="content-center">
              <div>
                <ion-img class="app-logo" src="assets/intro/logo.png"></ion-img>
              </div>
            </div>
          </ion-card-title>
          <ion-card-title>ADD BANK</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-img src="assets/intro/bank.png"></ion-img>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
      
    </ion-slide>
  </ion-slides>
  <div class="get-start-btn">
    <ion-button expand="block" mode="ios" routerLink="/login" class="white-btn">Get Started</ion-button>
  </div>
</ion-content>
