.profile-page-header {
  .profile-page-toolbar {
    --background: #00c06b;
    height: 60px;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    font-size: 20px;
  }
  .profile-page-content {
    .profile-info {
      background-color: #00c06b;
      height: 150px;
    }
  }
}
