<ion-header class="ion-no-border transaction-page-header" >
  <ion-toolbar class="transaction-page-toolbar">
    <ion-title  class="transaction-page-title" mode="ios">
      Transactions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin transaction-content">
  <ion-card mode="ios" >
    <ion-card-content class="ion-padding card-content">
      <ion-label class="schedule-label">Today</ion-label>
      <ion-item  class="statement">
        <ion-img slot="start" src="/assets/transactions/deposit.png"></ion-img>
        <div class="statement-detail">
          <div>
            <ion-label class="statement-type">Deposite</ion-label>
          </div>
          <div>
            <ion-label class="date-label">Jan 07,2020</ion-label>
          </div>
        </div>
        <div slot="end" class="amount-and-status" style="display: flex; flex-direction: column;">
          <div>
            <ion-label class="amount">$500.00</ion-label>
          </div>
          <div>
            <ion-label class="status">Pending</ion-label>
          </div>
        </div>
      </ion-item>
      <ion-item lines="none" class="statement">
        <ion-img slot="start" src="/assets/transactions/withdrawl.png"></ion-img>
        <div class="statement-detail">
          <div>
            <ion-label class="statement-type">Withdrawl</ion-label>
          </div>
          <div>
            <ion-label class="date-label">Jan 07,2020</ion-label>
          </div>
        </div>
        <div slot="end" class="amount-and-status" style="display: flex; flex-direction: column;">
          <div>
            <ion-label class="amount">$250.00</ion-label>
          </div>
          <div>
            <ion-label class="status">Pending</ion-label>
          </div>
        </div>
      </ion-item>
      <ion-label class="schedule-label">Yestarday</ion-label>
      <ion-item  class="statement">
        <ion-img slot="start" src="/assets/transactions/deposit.png"></ion-img>
        <div class="statement-detail">
          <div>
            <ion-label class="statement-type">Deposite</ion-label>
          </div>
          <div>
            <ion-label class="date-label">Jan 07,2020</ion-label>
          </div>
        </div>
        <div slot="end" class="amount-and-status" style="display: flex; flex-direction: column;">
          <div>
            <ion-label class="amount">$500.00</ion-label>
          </div>
          <div>
            <ion-label class="status">Pending</ion-label>
          </div>
        </div>
      </ion-item>
      <ion-item lines="none" class="statement">
        <ion-img slot="start" src="/assets/transactions/withdrawl.png"></ion-img>
        <div class="statement-detail">
          <div>
            <ion-label class="statement-type">Withdrawl</ion-label>
          </div>
          <div>
            <ion-label class="date-label">Jan 07,2020</ion-label>
          </div>
        </div>
        <div slot="end" class="amount-and-status" style="display: flex; flex-direction: column;">
          <div>
            <ion-label class="amount">$250.00</ion-label>
          </div>
          <div>
            <ion-label class="status">Pending</ion-label>
          </div>
        </div>
      </ion-item>
      <ion-label class="schedule-label">January 03</ion-label>
      <ion-item  class="statement">
        <ion-img slot="start" src="/assets/transactions/deposit.png"></ion-img>
        <div class="statement-detail">
          <div>
            <ion-label class="statement-type">Deposite</ion-label>
          </div>
          <div>
            <ion-label class="date-label">Jan 07,2020</ion-label>
          </div>
        </div>
        <div slot="end" class="amount-and-status" style="display: flex; flex-direction: column;">
          <div>
            <ion-label class="amount">$500.00</ion-label>
          </div>
          <div>
            <ion-label class="status">Pending</ion-label>
          </div>
        </div>
      </ion-item>
      <ion-item lines="none" class="statement">
        <ion-img slot="start" src="/assets/transactions/withdrawl.png"></ion-img>
        <div class="statement-detail">
          <div>
            <ion-label class="statement-type">Withdrawl</ion-label>
          </div>
          <div>
            <ion-label class="date-label">Jan 07,2020</ion-label>
          </div>
        </div>
        <div slot="end" class="amount-and-status" style="display: flex; flex-direction: column;">
          <div>
            <ion-label class="amount">$250.00</ion-label>
          </div>
          <div>
            <ion-label class="status">Pending</ion-label>
          </div>
        </div>
      </ion-item>
      <ion-label class="schedule-label">January 02</ion-label>
      <ion-item  class="statement">
        <ion-img slot="start" src="/assets/transactions/deposit.png"></ion-img>
        <div class="statement-detail">
          <div>
            <ion-label class="statement-type">Deposite</ion-label>
          </div>
          <div>
            <ion-label class="date-label">Jan 07,2020</ion-label>
          </div>
        </div>
        <div slot="end" class="amount-and-status" style="display: flex; flex-direction: column;">
          <div>
            <ion-label class="amount">$500.00</ion-label>
          </div>
          <div>
            <ion-label class="status">Pending</ion-label>
          </div>
        </div>
      </ion-item>
      <ion-item lines="none" class="statement">
        <ion-img slot="start" src="/assets/transactions/withdrawl.png"></ion-img>
        <div class="statement-detail">
          <div>
            <ion-label class="statement-type">Withdrawl</ion-label>
          </div>
          <div>
            <ion-label class="date-label">Jan 07,2020</ion-label>
          </div>
        </div>
        <div slot="end" class="amount-and-status" style="display: flex; flex-direction: column;">
          <div>
            <ion-label class="amount">$250.00</ion-label>
          </div>
          <div>
            <ion-label class="status">Pending</ion-label>
          </div>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
