.home-page-header {
  .home-page-toolbar {
    --background: #00c06b;
    height: 100px;
  }
  .home-page-title {
    padding-top: 60px;
    color: white;
    font-weight: bold;
  }
  .home-page-profile-avatar {
    padding-top: 32px;
    padding-right: 16px;

    .home-page-profile-img {
      width: 30px;
      height: 30px;
    }
  }
}

.home-page-content {
  .amount {
    height: 250px;
    flex-direction: column;
    .balance {
      font-size: 48px;
      font-weight: bold;
    }
    .balance-title {
      color: #767677;
      font-size: 24px;
    }
  }
}
