<ion-header class="ion-no-border home-page-header" >
  <ion-toolbar class="home-page-toolbar">
    <ion-title class="home-page-title" mode="md">
      Banking
    </ion-title>
    <ion-avatar slot="end" class="home-page-profile-avatar">
      <img class="home-page-profile-img" src="assets/home/profiel-dummy.png"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin home-page-content">
  <div class="content-center amount">
    <div class="balance">$0.00</div>
    <div class="balance-title">Total Balance</div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="white-btn" mode="ios" expand="block">Add Cash</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="white-btn" mode="ios" expand="block">Cash Out</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item lines="none">
    <ion-img slot="start" src="assets/home/deposit-transfer-logo.png"></ion-img>
    <ion-label>Deposit & Transfer</ion-label>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  <ion-item lines="none">
    <ion-img slot="start" src="assets/home/plus-logo.png"></ion-img>
    <ion-label>Link Bank</ion-label>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  
</ion-content>
